.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.container {
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
  color: #333;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

html {
  font: 100% / 1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  background: #f9fbfe;
}

h1, h2, h3, h4, h5, h6, p, div {
   color: #2b546a;
   font-weight: normal;
}

h1 {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 40px;
  text-align:center;
}

p {
  text-align:center;
}

.language {
  height: 400px;
  width: 810px;
  padding: 0 70px;
  margin: auto;
}

.language-item {
  width: 240px;
  height: 250px;
  background: #ffffff;
  margin: 15px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 3px;
  position: relative;
}

.language-name {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  text-align: center;
}

.language-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
  height: auto;
  width: 60%;
}
